@model MyComic.Presentation.Models.ComicPageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="acomic-image-content">
    <img src="@Url.Content($"~/images/{Model.ComicPage.FileName}")" id="main-comic-image" class="img-fluid" alt="Responsive image">
    @Html.ActionLink(">", "NextPage", "Home", new { PageNumber = Model.ComicPage.PageNumber })
</div>