@model MyComic.Presentation.Models.ComicPageViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div id="main-comic-image-content">
        <partial name="~/Views/Shared/_ComicPageNavigation.cshtml" model="Model.ComicPage" />
        <partial name="~/Views/Shared/_ComicPageDisplay.cshtml" model="Model.ComicPage" />
        <partial name="~/Views/Shared/_ComicPageNavigation.cshtml" model="Model.ComicPage" />
    </div>