@model MyComic.Entities.Comic.ComicPage

<div class="comic-page-navigation-div">
    <div class="page-navigation-button">
        <a asp-controller="Home" asp-action="PreviousPage" asp-route-pageNumber="@Model.PageNumber"><</a>
    </div>
    <div class="page-navigation-button">
        <a asp-controller="Home" asp-action="NextPage" asp-route-pageNumber="@Model.PageNumber">></a>
    </div>
</div>